<div class="auth-container">

  <!-- LEFT PANEL -->
  <div class="auth-left">
    <div class="brand-logo-container left-logo">
      <img src="assets/images/pranali_logo_2.png" alt="Pranali Logo" class="brand-logo">
    </div>
    <div class="welcome-text">
      <h1>Welcome to Pranali!</h1>
      <p>Integrated Financial Management System<br> Government of Sikkim</p>
    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="auth-right">
    <div class="login-form">


      <p class="login-title">Login</p>


      <!-- CPF / GPF / EMPLOYEE ID -->
      <div class="input-group">
        <input type="text" id="employeeId" [(ngModel)]="employeeId" (blur)="validateId()" (input)="showIdError = false" placeholder=" " required autocomplete="off" />
        <label for="employeeId">CPF / GPF / 14-digit ID</label>
        <p class="error-text" *ngIf="showIdError">Employee ID is required</p>
      </div>



      <!-- CAPTCHA IMAGE FROM BACKEND -->
      <label class="static-label">Verify Captcha</label>
      <div class="captcha-row">
        <div class="captcha-img-container">
          <img *ngIf="captchaImage" [src]="captchaImage" alt="CAPTCHA" class="backend-captcha">
          <div *ngIf="!captchaImage" class="captcha-loader">Loading...</div>
        </div>
      </div>

      <!-- CAPTCHA INPUT -->
      <div class="input-group captcha-input-group">
        <input type="text" id="captcha" [(ngModel)]="captchaInput" (input)="captchaError = false" placeholder=" " required autocomplete="off" />
        <label for="captcha">Enter Captcha</label>
        <p class="error-text" *ngIf="captchaError">Invalid CAPTCHA</p>
      </div>

      <p class="global-error" *ngIf="errorMessage">{{ errorMessage }}</p>

      <button class="submit-btn" [class.loading]="isLoading" [disabled]="isLoading" [@shake]="shakeTrigger"
        (click)="login()">
        {{ isLoading ? 'Verifying...' : 'Verify' }}
      </button>

    </div>
  </div>

</div>
