<div class="auth-container">

  <!-- LEFT PANEL -->
  <div class="auth-left">
    <div class="brand-logo-container left-logo">
      <img src="assets/images/pranali_logo_2.png" alt="Pranali Logo" class="brand-logo">
    </div>
    <div class="welcome-text">
      <h1>Welcome to Pranali!</h1>
      <p>Integrated Financial Management System<br> Government of Sikkim</p>
    </div>
  </div>

  <!-- RIGHT PANEL -->
  <div class="auth-right">
    <div class="login-form">


      <p class="login-title">Login</p>


      <!-- CPF / GPF / EMPLOYEE ID -->
      <label>CPF / GPF / Employee ID</label>
      <input type="text" placeholder="Enter CPF / GPF / 14-digit ID" [(ngModel)]="employeeId" (blur)="validateId()" />
      <p class="error-text" *ngIf="showIdError">Employee ID is required</p>

      <!-- PASSWORD -->
      <label>Password</label>
      <input type="password" placeholder="Enter your password" [(ngModel)]="password" (input)="passwordError = false" />
      <p class="error-text" *ngIf="passwordError">Incorrect password</p>

      <!-- CAPTCHA IMAGE FROM BACKEND -->
      <div class="captcha-row">
        <div class="captcha-img-container">
          <img *ngIf="captchaImage" [src]="captchaImage" alt="CAPTCHA" class="backend-captcha">
          <div *ngIf="!captchaImage" class="captcha-loader">Loading...</div>
        </div>
        <button type="button" class="refresh-btn" (click)="loadCaptcha()" title="Refresh Captcha">↻</button>
      </div>

      <!-- CAPTCHA INPUT -->
      <label>Captcha</label>
      <input type="text" placeholder="Enter captcha" [(ngModel)]="captchaInput" (input)="captchaError = false" />
      <p class="error-text" *ngIf="captchaError">Invalid CAPTCHA</p>

      <p class="global-error" *ngIf="errorMessage">{{ errorMessage }}</p>

      <button class="submit-btn" [class.loading]="isLoading" [disabled]="isLoading" [@shake]="shakeTrigger"
        (click)="login()">
        {{ isLoading ? 'Verifying...' : 'Verify' }}
      </button>

    </div>
  </div>

</div>